#upperdiv{
    background-image: url(/HTML-PRACTICE/image/mercedex.avif);
    background-size: 50%;
    height: 30vh;
    text-align: center;
    color: white;
}
#overlay{
    background-color: rgba(0, 0, 0, 0.664);
    height: 30vh;
}
.navBar{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 1px;
}
p{
    word-spacing: 25px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.Khadija{
    color: gold;
}
#body{
    display: flex;
    flex-direction: column;
    width: 50%;
}
button{
    background-color: gold;
    color: black;
    font-weight: bolder;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}